<h1>Chat en vivo</h1>

<div id="inputUserHolder"> 
    <label> Ingresa tu correo electrónico</label>
    <input type="text" id="email" placeholder="ejemplo@ecommerce.com"> 
</div>

<div id="inputMessageHolder">
    <input type="text" id="message" placeholder="Escribe tu mensaje">
    <button id="sendMessageButton"> Enviar </button>
</div>

<div id="messagesContainer"></div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="js/chat.js"></script>