
<div class="container">
    <h1>Solicitud restablecimiento de contraseña</h1>
    <form action="/api/users/password" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" required>
      <button type="submit">Enviar</button>
    </form>
  </div>