
<h1> Real  Time Products</h1>

<div id="realTimeContainer"></div>

<h5>Agrega productos aqui:</h5>

<form id="formAddProduct">
    <input type="text" id="title" placeholder="Título"> 
    <input type="text" id="description" placeholder="Descripción"> 
    <input type="number" id="price" placeholder="Precio"> 
    <input type="text" id="img" value="Sin imagen"> 
    <input type="text" id="code" placeholder="Código"> 
    <input type="number" id="stock" placeholder="Stock"> 
    <input type="text" id="category" placeholder="Categoria"> 
    <input type="text" id="status" value="true"> 
<button id="sendButton">Crear producto</button>
</form>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="js/main.js"></script>